{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ]
  }
}
